body{
 background-color: greenyellow;
  font-size: medium;
   font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: center;
}

h1{
    color: darkblue;
}

button {
  padding: 10px; 
   margin: 5px;  
   border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
}

button:hover {
    color: darkblue;
}













